@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    @apply bg-gray-50 
  }
  .container{
    @apply mx-auto px-3;
  }